#side_menu {
    padding-top: 10px;
    padding-left: 10px;
}
#right_box {
    padding: 10px;
    background: #595959;
}
#tasks_box {
    background: #595959;
}
#add_task_box {
    background-color: #282828;
    padding: 10px;
    color: white;
}
window {
    background-color: #282828;
} 
#header {
    background: #202020;
    color: white;
    border-bottom: none;
}
button {
    background: none;
    border: solid 2px white;
    border-radius: 20px;
    color: white;
    transition: .5s;
}
button:hover {
    background: #424242;
}
entry {
    background: none;
    border-radius: 20px;
    border: white solid 2px;
    color: white;
}
#dialog {
    padding: 20px;
    color: white;
}
.single_task_box {
    color: white;
    background-color: #282828;
    padding: 10px;
}
#task_name_label{
    font-weight: bold;
    font-size: 25px;
}
scrollbar slider {
    background: white;
}
popover {
    background: #282828;
    border: none;
    color: white;
}
popover calendar,
popover spinbutton {
    background: #595959;
    color: white;
}
calendar button,
spinbutton button {
    border-radius: 0;
    border: none;
}
popover contents {
    background: #282828;
}
#f_add_button{
    background: #2a7ef5; 
    font-weight: bold;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
}
#f_add_button:hover{
    background: #174d99;
}
#f_add_button_red{
    background: red; 
    font-weight: bold;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
}
#f_add_button_red:hover{
    background: #750101;
}
#task_remove_button {
    background: #fc3426;
    border: none;
    font-size: 1.3rem;
}
#task_add_button {
    font-size: 1.3rem;
}
#task_remove_button:hover {
    background: #e30f00;
}
#ni_box {
    border-bottom: 2px dotted white;
    padding-bottom: 10px;
}
#important_button {
    color: #edf030;
    font-size: 1.5rem;
}
#important_button_toggled {
    color: #282828;
    background-color: #edf030;
    border: 2px solid #edf030;
    font-size: 1.5rem;
}
